<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('header-logo.png') }}" width="90" height="30" class="d-inline-block align-top" alt="Company Logo" loading="lazy">
        </a>
        <span class="navbar-text mr-auto">
    </span>
    </nav>
</header>
